.navbar {
	animation-name: nav-col;
	animation-duration: 3s;
}

@keyframes nav-col {
  from {background-color: #1abc9c;}
  to {background-color: yellow;}
}


/*I had trouble getting this animation to work :( */

/*Ok now it works but it f's up the view in mobile*/

/*Ok it is kind of centered now both in mobile and desktop but not totally*/

.profile-photo-container {
	position: relative;
	height: 155px;
	
}

.profile-photo {
	position: absolute;
	right: 37.5%;
	animation-name: p-photo-animate;
	animation-duration: 4s;
	animation-delay: 4s;
}

@keyframes p-photo-animate {
	  0%   {right: 37.5%;}
    25%  {right: 60%;}
    0%   {right: 37.5%;}
    75%  {right: 15%;}
    100% {right: 37.5%;}
}

